<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

<div id="main" role="main">
    <div class="article-author-side">
        &nbsp;
    </div>
    <div id="index">
        <article>
            <img class="image-wrap" src="images/lchansson_neue.jpg" alt=""/>
        </article>
    </div>
</div>

{% include _browser-upgrade.html %}

{% include _navigation.html %}




{% include _scripts.html %}

{% include _google_analytics.html %}
</body>
</html>
