<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

<div id="main" role="main">
    <div class="article-author-side">
        &nbsp;
        <!--{% include _author-bio.html %}-->
    </div>
    <div id="index">
        <article>
            <img class="image-wrap" src="images/lchansson_neue.jpg" alt=""/>
            <!--<h1>Love Hansson</h1>-->
        </article>
    </div>
</div>

{% include _browser-upgrade.html %}

{% include _navigation.html %}



<!--<div class="footer-wrap">-->
  <!--<footer>-->
    <!--&lt;!&ndash;{% include _footer.html %}&ndash;&gt;-->
  <!--</footer>-->
<!--</div>&lt;!&ndash; /.footer-wrap &ndash;&gt;-->

{% include _scripts.html %}

{% include _google_analytics.html %}
</body>
</html>
